Batch_Layer/Dashboard/authentification.py
Batch_Layer/Database/Database_schema.loo
Batch_Layer/Ingestion/data/
Batch_Layer/Ingestion/authentification.py
Streaming_Layer/app/data.json
Streaming_Layer/kafka_component/consumer.py
Streaming_Layer/kafka_component/kafka_zookeeper_lauching
env
