Brotli
click
dash
Flask
Flask-Compress
gunicorn
future
kafka-python
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pip
plotly
pymongo
pyspark
python-dateutil
pytz
requests
retrying
setuptools
six
Werkzeug
wheel